.todo-input {
  &-container {
    border-bottom: 1px solid #ededed;
    position: relative;

    .toggle-all {
      display: none;
      &:checked + label::after {
        color: #737373;
      }
    }

    label {
      position: absolute;
      width: 3rem;
      top: 0;
      bottom: 0;
      font-size: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      transform: rotate(90deg);
      &::after {
        content: '❯';
        font-size: 22px;
        color: #e6e6e6;
      }
    }

    input {
      padding: 1rem;
      padding-left: 3rem;
      box-sizing: border-box;
      width: 100%;
      border: none;
      outline: none;
      font-size: 24px;
      &::placeholder {
        opacity: 0.25;
        font-style: italic;
      }
    }
  };
};