.todo-item {
  font-size: 24px;
  border-bottom: 1px solid #ededed;
  line-height: 1.2;
  transition: color 0.4s;
  position: relative;

  .toggle {
    text-align: center;
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    border: none;
    appearance: none;
    &:checked + .content {
      background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23bddad5%22%20stroke-width%3D%223%22/%3E%3Cpath%20fill%3D%22%235dc2af%22%20d%3D%22M72%2025L42%2071%2027%2056l-4%204%2020%2020%2034-52z%22/%3E%3C/svg%3E');
    }
  }

  .content {
    padding: 1rem 2rem 1rem 3rem;
    display: block;
    word-break: break-all;
    background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23ededed%22%20stroke-width%3D%223%22/%3E%3C/svg%3E');
	  background-repeat: no-repeat;
	  background-position: center left;
  }

  &.completed {
    .content {
      text-decoration: line-through;
      color: #d9d9d9;
    }
  }

  .destroy {
    display: none;
    position: absolute;
    align-items: center;
    top: 50%;
    right: 0;
    width: 2rem;
    height: 2rem;
    margin: auto 0;
    font-size: 30px;
    color: #cc9a9a;
    transition: color 0.2s ease-out;
    transform: translateY(-50%);
    border: none;
    background: none;
    &::after {
      content: 'x';
    }
  }

  &:hover {
    .destroy {
      display: flex;
    }
  }

  .edit-input {
    display: none;
    border: none;
    outline: none;
    font-size: inherit;
    padding: 1rem 2rem 1rem 3rem;
    line-height: 1.2;
    width: 100%;
    box-sizing: border-box;
    color: brown;
  }

  &.editing {
    .content {
      display: none;
    }
    .edit-input {
      display: block;
    }
  }
}