.footer {
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;

  span {
    width: 150px;
  }

  .filter {
    list-style: none;
    display: flex;
    margin: 0 auto;
    padding: 0 1rem;
    li {
      text-transform: capitalize;
      margin-right: 1rem;
      min-width: 50px;
      text-align: center;
      padding: 0.325rem;
      box-sizing: border-box;
      border: 1px solid #fff;
      border-radius: 5px;
      &:last-child {
        margin-right: 0;
      }
      &.active {
        border-color: orange;
      }
    }
  }

  .clear-completed {
    width: 120px;
    button {
      border: none;
      outline: none;
      background: none;
      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}